<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-xxl px-md-5 bg-white shadow-lg">
      <!-- Header Start -->
      <header
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-center justify-content-md-between
          py-1
          mb-4
          border-bottom
        "
      >
        <a
          href="/"
          class="
            d-flex
            align-items-center
            col-md-1
            mb-md-0
            text-dark text-decoration-none
          "
        >
          <img
            src="./image/logo.png"
            width="140"
            height="120"
            style="margin-top: -20px"
          />
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li>
            <a href="/about" class="nav-link px-2 link-secondary"
              >About the Project</a
            >
          </li>
        </ul>
      </header>
      <!-- Header End -->

      <main><%- body -%></main>

      <!-- Footer Start -->
      <footer class="footer py-2 text-center bg-light text-mute">
        <!-- Copyright -->
        <div
          class="text-center p-1"
        >
          <p>
            Made with
            <i
              class="fa fa-coffee"
              style="font-size: 20px; color: rgb(80, 45, 45)"
            ></i>
            and
            <i
              class="fa fa-heart"
              style="font-size: 20px; color: rgb(255, 0, 0)"
            ></i>
          </p>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer End -->
    </div>
  </body>
</html>
