:root {
  --bs-font-sans-serif: "Rubik", sans-serif;
}
body {
  background-image: url("/image/background.svg");
  background-color: rgb(243, 243, 243);
}
.container {
  width: 380px;
  height: auto;
  background-color: #ffffff;
  margin-top: 200px;
}
.d-flex {
  padding-top: 30px;
}
.selectClass {
  background-color: #0563af;
  color: white;
  padding: 10px;
  width: 250px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 5px;
}
.footer{
  margin-top: 5rem !important;
}

.button-menu {
  align-items: center;
  background-clip: padding-box;
  background-color: #0563af;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
  Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 115px;
}

.button-menu:hover,
.button-menu:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-menu:hover {
  transform: translateY(-1px);
}

.button-menu:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
