<footer class="footer py-2 text-center  text-mute">
    <!-- Copyright -->
    <div
      class="text-center p-1"
    >
      <p>
        Made with
        <i
          class="fa fa-coffee"
          style="font-size: 20px; color: rgb(80, 45, 45)"
        ></i>
        and
        <i
          class="fa fa-heart"
          style="font-size: 20px; color: rgb(255, 0, 0)"
        ></i>
      </p>
    </div>
    <!-- Copyright -->
  </footer>